body {
  background-color: MediumSeaGreen;
  margin: 0;
}
h1 {
  color: blue;
  margin: 10px 0 10px 0;
}
#input {
  width: 50%;
}
#project {
  vertical-align: middle;
}
ul {
  border: black 5px solid;
  height: auto;
  max-width: 100%;
}
