body {
  background-color: white;
}
h1 {
  color: blue;
}
#input {
  width: 33%;
}
#project {
  vertical-align: middle;
}
ul {
  border: black 5px solid;
  height: auto;
  max-width: 100%;
  display: block;
}
