body {
  background: linear-gradient(to bottom, white, #3CB371);
  color: white;
  margin: 0;
}
#input {
  width: 50%;
}
#project {
  vertical-align: middle;
}
ul {
  border: black 5px solid;
  height: auto;
  max-width: 100%;
  text-decoration: none;
  text-align: left;
}
li {
  text-align: left;
}
